<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
          integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous"/>
    <link th:href="@{/assets/css/app.css}" rel="stylesheet"/>
    <title>ToDo App</title>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-1">
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">ToDo App</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Lista</a></li>
                <li class="pure-menu-item"><a href="/add" class="pure-menu-link">Adicionar</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="${view} :: content"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{assets/js/app.js}"></script>
</body>
</html>